export ADDR=:8080
export DB_DRIVER=postgres
export EXTERNAL_URL=localhost:8080
export DB_ADDR=postgresql://jagres:Jagres112.@localhost:5432/simple-bank?sslmode=disable
# export CORS_ALLOWED_ORIGIN=http://localhost:8080
export ENV=development